            header {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-content: center;
                position: relative;
                color: $white1;
                opacity: 0;
                animation: opening 1.5s forwards;
                @keyframes opening {
                    to {
                        opacity: 1;
                    }
                }
            }
            
            .blockcenter {
                max-height: 80%;
                max-width: 80%;
                height: fit-content;
                margin: auto;
                p {
                    font-style: italic;
                    margin: 35px auto;
                }
                a,
                a:visited {
                    color: $white1;
                    font-size: 0.6rem;
                    border: solid 1px $white1;
                    padding: 8px 12px;
                    border-radius: 100%;
                }
            }
            
            h1 {
                color: $white1;
            }
            
            header p {
                color: $white1;
                font-size: 0.7rem;
            }
            
            nav {
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: rgba(128, 128, 128, 0.575);
                ul {
                    display: flex;
                }
                ul.onglet {
                    li {
                        font-size: 0.4rem;
                        padding: 15px 10px;
                        letter-spacing: normal;
                        &:first-child {
                            color: $grey3;
                            background-color: $white1;
                        }
                    }
                }
                ul.socialnetworks {
                    padding: 0 5px;
                    li {
                        font-size: 0.6rem;
                        padding: 0 10px;
                    }
                }
            }