// ************* fonts ************************************
@font-face {
    font-family: titre1;
    src: url(../../fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: paragraph1;
    src: url(../../fonts/Merriweather-Light.ttf);
}

$font_p: "paragraph1",
sans-serif;
$font_t: "titre1",
serif;
// ************** colors ******************************************
$black1: rgb(17, 17, 17);
$white1: rgb(243, 243, 243);
$grey1: rgb(209, 209, 209);
$grey2: rgb(233, 233, 233);
$grey3: rgb(105, 105, 105);
// ************** init ******************************************
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: url(../../images/bg.jpg) fixed center/cover;
    text-align: center;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $black1;
        animation: openin 2.5s ease forwards;
        @keyframes openin {
            to {
                opacity: 0;
            }
        }
    }
    nav,
    section,
    footer {
        width: 70%;
    }
    section,
    footer {
        background-color: $white1;
    }
    p {
        font-family: $font_p;
        font-size: 0.8rem;
    }
    a {
        display: inline-block;
    }
    a,
    a:visited {
        color: $black1;
        text-decoration: none;
    }
    @mixin titles {
        font-family: $font_t;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    h1,
    h2,
    h3,
    label,
    li,
    span {
        @include titles();
    }
    // ******************** boutons *********************
    .button {
        padding: 5px 15px;
        border: solid 1px $black1;
        @include titles();
        font-size: 0.5rem;
        transition: 0.2s;
        &:hover {
            border: solid 1px $grey3;
            color: $grey3;
        }
    }
    li {
        list-style: none;
    }
}